@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*---------------- dark mode --------------*/
.main-container.dark {
  background-color: #192734;
  color: #fff;
}

.text-section.dark {
  background-color: #192734;
}

.profile.dark {
  background-color: #192734;
}

.moon-icon {
  display: flex;
  padding-right: 20px;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}

.moon-icon img {
  width: 25px !important;
  height: 25px !important;
  padding: 3px;
}

.moon-icon span {
  box-shadow: 2px 2px 2px #000;
  border-radius: 8px;
  padding: 2px;
  border: 1px solid #000;
}

.container-header.dark {
  background: url("./assets/images/dark-night.png");
  background-size: cover;
}
.light.dark {
  visibility: hidden;
  position: relative;
}

.light.dark::after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "Light Mode";
  width: 100px;
}

/*------------------ Header Css -----------------------------*/

.container-header {
  background: url("./assets/images/clouds.png");
  background-size: contain;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.container-header img {
  width: 250px;
  height: 250px;
}

.myname {
  font-family: "Sacramento", cursive !important;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  font-size: 2.8rem;
  text-transform: none;
}

.text-modify {
  font-family: "ProximaNova";
  color: #fff;
  font-size: 2.1rem;
  font-weight: normal;
  padding: 10px;
}

.dynamic {
  font-size: 2.4rem;
  font-weight: bold;
}

.work-btn {
  padding: 14px;
  margin-top: 20px;
  border-radius: 25px;
  background: #66000000;
  border: 1px solid #fff;
  font-size: 1.4rem;
  color: #fff;
}

.work-btn:hover {
  background: #fff;
  color: #000;
}

/*-------------------------- Header Css Ends ----------------------------*/

/*---------------------------- About Css Starts---------------------------*/

.container-about {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 10px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #fff;
}
.text-section {
  width: 100%;
  height: auto;
  background: #fff;
}

.profile-img {
  width: 350px;
  height: 300px;
  border-radius: 50%;
  padding: 20px;
}

.text-section h3 {
  font-size: 2.6rem;
  padding: 10px;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: bold;
}

.text-section p {
  /* line-height: 15px; */
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Roboto", serif;
  font-weight: 200;
  font-style: normal;
}
.social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons img {
  display: inline-flex;
  width: 40px;
  height: 40px;
  padding: 5px;
}

.about-btn {
  padding: 10px;
}

.about-btn button {
  width: 130px;
  height: 50px;
  border-radius: 20px;
  background-color: #fff;
}

.about-btn button:hover {
  border-radius: 20px;
  background-color: #000;
  color: #fff;
}

/*---------------------------- About css ends-------------------------------*/

/*----------------------------- Popup Styling --------------------------------*/
.modal {
  width: 90%;
  height: auto;
  background-color: #191919;
  margin: auto;
}

.pop-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text-container {
  width: 100%;
  padding: 30px;
  color: #fff;
}

.text-container h3 {
  padding: 10px 0 10px 0;
  font-size: 1.6rem;
  color: #1788ae;
}

.text-container p {
  color: #fff;
  font-size: 14px;
}

.text-container ul {
  padding-top: 15px;
  font-size: 14px;
}

.text-container li {
  text-align: center;
  padding: 3px;
}

.text-container h2 {
  color: #1788ae;
  padding-top: 30px;
}

.img-container {
  display: flex;
  width: 100%;
}

.img-container img {
  width: 100%;
}

.mern-stack {
  display: flex;
  padding-top: 40px;
}

.mongo {
  text-align: center;
  margin-right: 25px;
}

.express {
  text-align: center;
  margin-right: 25px;
}

.react {
  text-align: center;
  margin-right: 25px;
}
.node {
  text-align: center;
  margin-right: 25px;
}



/*------------------------------Popup styling ends --------------------------*/

/*---------------------------- Download Css ------------------------------*/

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: rgb(30, 94, 94);
  margin: 0 10px;
}
.download p {
  font-size: 1.4rem;
  padding: 20px;
  color: #fff;
  font-family: "Roboto", serif;
}
.download button {
  width: 80px;
  height: 80px;
}

.download button img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/*----------------------------- Download Css ends ----------------------------*/

/*----------------------------- Latest Work Css -----------------------------*/

.work-section {
  margin: 0 auto;
  position: relative;
}
.title-work h2 {
  font-size: 2.1rem;
  margin: 0 auto;
  text-align: center;
  border: 2px solid rgb(30, 94, 94);
  border-top: 0;
  color: rgb(30, 94, 94);
  width: max-content;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  z-index: 5;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: auto;
  padding: 30px;
}
.project-img {
  /* border-right: 1px solid red;
border-left: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.img-pop img {
  width: 300px;
  height: 250px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

#p1:hover {
  transform: scale(1.2);
}

#p2:hover {
  transform: scale(1.1);
}

.project-details {
  width: 100%;
  justify-content: center;
  padding-left: 40px;
}
.project-details h3 {
  color: #fc815c;
  font-family: "Roboto", serif;
  font-size: 1.8rem;
  padding: 5px;
}
.project-details span {
  font-size: 1.4rem;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  color: #fc815c;
  font-family: "Roboto", serif;
}
.project-details p {
  font-family: "Roboto", serif;
  font-style: normal;
  padding-top: 16px;
}

ul {
  list-style: none;
  padding-top: 30px;
}
ul li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0 0 4px #000;
}

/*----------------------------- Latest Work Css ends ----------------------------*/


/*----------------------------- tooltip Css start -----------------------*/
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted #000; */
  font-size: 14px;
}

.tooltip .mongo-icon {
  visibility: hidden;
  width: 100px;
  background-color: #47a248;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .mongo-icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #47a248 transparent transparent transparent;
}

.mongo h2:hover {
  color: #47a248;
}

.tooltip:hover .mongo-icon {
  visibility: visible;
}
/*----------- express icons ---------------- */
.tooltip .express-icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip .express-icon {
  visibility: hidden;
  width: 100px;
  background-color: #47a248;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .express-icon {
  visibility: visible;
}

.express h2:hover {
  color: #fff;
}

/*----------- React icons ---------------- */
.tooltip .react-icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #61dafb transparent transparent transparent;
}

.tooltip .react-icon {
  visibility: hidden;
  width: 100px;
  background-color: #61dafb;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .react-icon {
  visibility: visible;
}

.react h2:hover {
  color: #61dafb;
}

/*------------------ Javascript icon -----------------*/
.tooltip .node-icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #8cc84b transparent transparent transparent;
}

.tooltip .node-icon {
  visibility: hidden;
  width: 100px;
  background-color: #8cc84b;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .node-icon {
  visibility: visible;
}

.node h2:hover {
  color: #8cc84b;
}
/*----------------------------- tooltip Css ends --------------------------*/

/*---------------------------- Footer Css -------------------------------*/
.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img{
  width: 100px;
  height: 100%;
}

.footer-social{
  display: flex;
  justify-content: center;
}

/*----------------------------Footer Css Ends ----------------------------*/


/*------------------------- Media Query CSS Starts --------------------------------
----------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
  /*--------------------- Header section handled -----------------------------------*/
  .container-header {
    height: 450px;
  }
  .container-header img {
    width: 110px;
    height: 110px;
  }
  .myname {
    font-size: 1.9rem;
    font-weight: 150;
  }
  .dynamic {
    font-size: 1.6rem;
  }
  /*--------------------------- Header section end --------------------------------------*/

  /*---------------------------- About section start -----------------------------------*/
  .container-about {
    display: grid;
    grid-template-columns: auto;
    /* height: 500px; */
    margin: 20px;
    padding: 0;
  }
  .profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 20px;
  }
  .text-section h3 {
    text-align: center;
  }

  .about-btn {
    text-align: center;
  }

  .about-btn button {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    background-color: #fff;
  }
  /*------------- Popup image ----------------- */
  .img-container img {
    display: none;
  }

  /*---------------------------- About section ends ------------------------------------*/

  .download p {
    font-size: 20px;
  }

  .download button {
    width: 50px;
    height: 50px;
  }

  .download button img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  /*---------------------------- Latest Work Css --------------------------------------*/

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: auto;
    padding: 30px;
  }
  .project-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: auto;
    padding: 30px;
  }

  /*---------------------------- Latest Work Css ends -----------------------------------*/
}

@media screen and (min-width: 430px) and (max-width: 460px) {
  /*------------- Popup image ----------------- */
  .img-container img {
    display: none;
  }
  .text-container {
    padding: 20px;
  }
}

/*---------------------- small to medium size device ------------------- */

@media screen and (max-width: 430px) {
  .pop-container {
    padding: 5px;
  }
  .text-container {
    padding: 15px;
  }
}

@media screen and (min-width: 375px) and (max-width: 410px) {
  .text-container {
    padding: 5px;
  }
  .modal {
    width: 95%;
  }
}

@media screen and (min-width: 320px) and (max-width: 380px) {
  .modal {
    width: 100%;
  }

  .text-container h3 {
    font-size: 1.2rem;
  }

  .text-container p {
    font-size: 12px;
  }
  .text-container ul {
    font-size: 12px;
  }
  .mongo {
    margin-right: 15px;
  }

  .express {
    text-align: center;
    margin-right: 15px;
  }

  .react {
    text-align: center;
    margin-right: 15px;
  }
  .node {
    text-align: center;
    margin-right: 20px;
  }

  /*----------------- download icon -------------------*/
  .download p {
    font-size: 16px;
  }

  .modal {
    width: 100%;
  }
  .pop-container {
    padding: 0;
  }
  .text-container {
    padding: 3px;
  }
  .text-container p {
    font-family: 12px;
  }
  .text-container ul {
    font-size: 12px;
  }
  ul li {
    padding: 5px;
  }
  .node {
    margin-right: 0;
  }
}


